header{
    display: flex;
    background-color: lightgrey;
}
#headercontent{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 15px;
}
#headercontent h1{
    font-size: 4em;
    margin: 1px auto;
    padding: 5px;
    flex-basis: 80%;
    
}
#headercontent h2{
    font-size: 2em;
    margin: 1px auto;
    padding: 5px;
    flex-basis: 19%;
}

body {
    background: darkgreen;
}
label {
    display: block;
}
a{
    text-decoration: none;
}
#menu {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
#menu div{ 
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: flex;
    border: 1px solid grey;
    justify-content: right;
}
#menu div form{
    padding: 5px;
}
#menu li {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}
#menu li a {
    border: 1px solid grey;
    padding: 15px 10px;
}
#menu li a:hover{
    background-color: lightgreen;
}
#wrapper {
    width: 1100px;
    margin: 10px auto;
    text-align: left;
    border: 3px solid grey;
    padding: 20px;
    background: #EEEEEE;
}
#searchbox{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#searchbox form{
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
}
#searchbox form label{
    padding: 5px 15px 5px 15px;
}
#books {
    margin: auto;
    border: 1px solid grey;
    padding: 5px 10px;
}
#books img {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
#books h1 {
    font-size: xx-large;
    text-align: center;
}
#books table {
    width: 95%;
    margin: auto;
    border-spacing: 0px;
}
#books table tbody tr th {
    font-size: x-large;
    padding: 5px 10px;
    margin: 1px auto;
    text-align: center;
}
#books table tbody tr td {
    font-size: large;
    padding: 10px 15px;
    margin: auto;
    text-align: center;
}

#description {
    width: 90%;
    margin: auto;
    padding: 10px;
    font-size: large;
}

#storeinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}
#hours {
    flex-basis: 30%;
    padding:5px;
    margin: auto;
}
#hours table, th, td {
    margin: 1px auto;
    padding: 5px;
    border:2px solid grey;
}
#location {
    flex-basis: 70%;
    padding:5px;
    margin: auto;
}
#location h1 {
    margin: auto;
    padding: 5px
}
#location iframe {
    margin-left: auto;
    margin-right: auto ;
}
#delete{
    display: flex;
    padding: 5px;
    justify-content: right;
}
#deleteImage {
    display: flex;
    padding: 5px;
    justify-content: right;
}
#users form label{
    padding: 10px 0px;
}
#submits {
    display: flex;
    padding: 15px 0px;
}
#locatedat {
    text-align: center;

}